<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog_Hut</title>
</head>
<body background="C:\Users\Dell\Desktop\Python Folder\Pycharm tables\Aniket Assignment\Dog_breed">
<font size="4"
      face = "verdana"
      color="red">
    <center><h1>DOG HUT<h1></center><br><br>
    <form action="" method="post">
        <div><center>
            <h1>Select Dog You Want: </h1>
            <select name = "opt">

                <option value="__Select__">__Select__</option>
                <option value="Husky">Husky</option>
                <option value="German Sheferd">German Sheferd</option>
                <option value="Pamorelin">pamorelin</option>
            </select><br><br>
<input type="submit"> <input type="reset">
        </center></div>
        <center><h1>{{resp}}</h1></center><br>
</form>
            </font>
</body>
</html>
